node_modules
.next
.git
.gitignore
README.md
.env
.env.local
.env.development
.env.production
.env.test
.nyc_output
coverage
.nyc_output
.coverage/
dist
out
build
.nvmrc
.editorconfig
.eslintignore
.eslintrc.json
.prettierignore
.prettierc
Dockerfile
.dockerignore
*.md
.yarn
.cache
.vscode
.idea
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
__pycache__
*.pyc
*.pyo
*.pyd
.Python
.pytest_cache
.pyre
.pytype
coverage.xml
.DS_Store
Thumbs.db